.login-wrapper {
    margin: 38px auto;
    border: 1px solid #F5F5F5;
    max-width: 50%;
}

.login__header {
    display: flex;
    justify-content: space-around;
}

.login__header-login {
    width: 50%;
    border-right: 1px solid #F5F5F5;
}

.login__header-register {
    width: 50%;
}

.login__header-link {
    width: 100%;
}

#disable:hover {
    border-bottom: 2px solid var(--primary-color);
}

.login__form {
    border-top: 1px solid #F5F5F5;
    padding: 20px 20px 4px 20px;
}

.login__form-input {
    border: 1px solid #ccc;
    outline: none;
    font-size: 1.6rem;
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 16px;
    padding: 0 0 0 12px;
}

.login__form-btn {
    background-color: var(--primary-color);
    width: 100%;
}

.login__footer {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 4px;
}

.login__footer-content {
    font-size: 1.6rem;
    text-decoration: none;
}

.login__form-checkbox {
    margin-bottom: 16px;
    margin-left: 4px;
    font-size: 1.5rem;
}

.login__form-checkbox--wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}